<div class="container">
  <div style="border: 2px solid black; width: 100%; height: 200px; margin-bottom: 15px;">

  </div>
  <div class="sub-container">
    <img #img src="assets\images\world-map.png" class="image">
    <svg #img_svg class="svg" (click)="addVertex($event)">
      <g *ngFor="let answer of answers; let i = index">
        <!-- Circles -->
        <g *ngIf="answer.type === 'circle' ">
          <circle #circleShape (window:resize)="onResizeCircle(answer.shapeObject, circleShape)" [attr.cx]="getCirclePosition(answer.shapeObject).x" [attr.cy]="getCirclePosition(answer.shapeObject).y" [attr.r]="getCircleRadiusBasedOnDisplayedImageSize(answer.shapeObject)" (mousedown)="startCircleMove($event, answer.shapeObject)" stroke-width="3" class="shape moving-shape"/>
          <rect [attr.x]="getCirclePosition(answer.shapeObject).x + getCircleRadiusBasedOnDisplayedImageSize(answer.shapeObject) - 6" [attr.y]="getCirclePosition(answer.shapeObject).y - 6" [attr.width]="12" [attr.height]="12" style="fill:red; cursor: e-resize;" (mousedown)="startResizeCircle($event, answer.shapeObject)"/>
          <text [attr.x]="getCirclePosition(answer.shapeObject).x - 3" [attr.y]="getCirclePosition(answer.shapeObject).y - getCircleRadiusBasedOnDisplayedImageSize(answer.shapeObject) - 5" style="cursor: pointer; color:red" (click)="removeShape(i)">X</text>
        </g>

        <!-- Rectangles -->
        <g *ngIf="answer.type === 'rect' ">
          <rect #rectShape (window:resize)="onResizeRect(answer.shapeObject, rectShape)" [attr.x]="getRectPosition(answer.shapeObject).x" [attr.y]="getRectPosition(answer.shapeObject).y" [attr.width]="getRectSize(answer.shapeObject).width" [attr.height]="getRectSize(answer.shapeObject).height" (mousedown)="startRectMove($event, answer.shapeObject)" stroke-width="3" class="shape moving-shape"/>
          <rect [attr.x]="getRectPosition(answer.shapeObject).x + getRectSize(answer.shapeObject).width - 6" [attr.y]="getRectPosition(answer.shapeObject).y + getRectSize(answer.shapeObject).height - 6" [attr.width]="12" [attr.height]="12" style="fill:red; cursor: nw-resize;" (mousedown)="startResizeRect($event, answer.shapeObject)"/>
          <text [attr.x]="getRectPosition(answer.shapeObject).x - 10" [attr.y]="getRectPosition(answer.shapeObject).y - 5" style="cursor: pointer; color:red" (click)="removeShape(i)">X</text>
        </g>

        <!-- Custome shapes -->
        <g *ngIf="answer.type === 'custom' ">
          <path #shape [attr.d]="getPathData(answer.shapeObject)" (window:resize)="onResizeCShape(answer.shapeObject, shape)" (mousedown)="startMoveCS($event, answer.shapeObject)" stroke-width="3" class="shape moving-shape"/>
          <text [attr.x]="getLeftMostX(answer.shapeObject) - 10" [attr.y]="getTopMostY(answer.shapeObject) - 5" style="cursor: pointer; color:red" (click)="removeShape(i)">X</text>
          <text *ngIf="!creating" [attr.x]="getLeftMostX(answer.shapeObject) + 5" [attr.y]="getTopMostY(answer.shapeObject) - 5" style="cursor: pointer; color:red" (click)="editCustomeShape(i, answer.shapeObject)">| Edit</text>
          <g *ngFor="let vertex of answer.shapeObject.vertices; let j = index">
            <circle [attr.cx]="getVertex(answer.shapeObject, j).x" [attr.cy]="getVertex(answer.shapeObject, j).y" r="6" (mousedown)="startVertexMove($event, answer.shapeObject, j)" class="vertex"/>
          </g>
        </g>
      </g>

      <!-- Custome shape being created -->
      <g *ngIf="created">
        <path #crShape [attr.d]="getPathData(currentShapeBeingCreated)" (window:resize)="onResizeCShape(currentShapeBeingCreated, crShape)" stroke-width="3" class="shape"/>
        <circle *ngFor="let vertex of currentShapeBeingCreated?.vertices; let i = index" [attr.cx]="getVertex(currentShapeBeingCreated, i).x" [attr.cy]="getVertex(currentShapeBeingCreated, i).y" r="6" (mousedown)="startVertexMove($event, currentShapeBeingCreated!, i)"  class="vertex"/>
      </g>
    </svg>
  </div>
  <div class="footer">
    <button class="btn" (click)="addCircle()">Add Circle</button>
    <button class="btn" (click)="addRect()" style="margin-left: 8px;">Add Rectangle</button>
    <button [disabled]="creating" class="btn" (click)="startCreateShape()" style="margin-left: 8px;">Create a Shape</button>
    <button *ngIf="creating" [disabled]="!created" class="btn" (click)="finishShape()" style="margin-left: 8px;">Finish Shape</button>
    <button *ngIf="creating" class="btn" (click)="cancelShape()" style="margin-left: 8px;">Cancel</button>
  </div>
</div>